@font-face {
    font-family: Josefin Sans;
    src: url(./fonts/Josefin_Sans/static/JosefinSans-Italic.ttf);
}

body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #222;
    color: white;
    font-family: 'Josefin Sans';
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
    gap: 15px;
}

.player-container {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-bottom: 50px;
}


.image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}


.image-container img {
    height: 389px;
    width: auto;
}


.computer-icon {
    border: 3px solid white;
    border-radius: 5px;
}

.footer {

    display: flex;
    flex-direction: column;
    align-items: center;

}






.options-container {

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 60px;
    margin-bottom: 100px; 
    
}

.rps-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 5px solid white;
    border-radius: 15px;

}

.rps-container:hover {

    border: 5px solid #4287f5;

}


.rps-container img {
    height: 389px;
    width: auto;
    border: 5px solid black;
    border-radius: 15px;

}


.score-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}


.title-heading {

    font-size:72px;
    margin-bottom: 10px;
}

.start-game-button {

    padding: 10px 25px;
    color: white;
    background-color: #222;
    font-size: 24px;
    border: 2px solid white;
    border-radius: 10px;;
}

.start-game-button:hover {

    border: 2px solid #4287f5;
    color:#4287f5;
}



.result-screen {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.result-message {
    font-size: 256px;
    margin-bottom: 50px;
}


.gameplay-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}

.gameplay-header h1{
    font-size: 64px;
}

.score-container {
    font-size: 24px;;
}